* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Andika', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  font-size: 2.5rem;
}

.wrapper {
  background: #4c6cec;
  padding: 2em;
  box-shadow: 1px 1px 10px 5px rgba(89, 106, 158, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper>p {
  font-weight: 700;
  font-size: 2.25rem;
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 575px;
  color: #ffffff;
}

.result-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #080001;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 15px 5px rgba(25, 28, 36, 0.7);
}

.number {
  color: #F94F6D;
  font-weight: 400;
  font-size: 90px;
}

.button-holder {
  margin-top: 25px;
  margin-bottom: 25px;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

button:active {
  background-color: #3f4e8f;

}

button {
  font-family: inherit;
  border: 1px solid #ffffff;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  background: #1B244A;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(25, 28, 36, 0.7);
}

.reset-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 25px;
}